/20240214_001143.csv
/20240214_001143.html
/1707844517712.png
/1707844518645.png
/appium.log
/appium_error.log
/execution.properties
/execution.uuid
/execution0.log
/execution0.log.lck
/testCaseBinding
/tsc_id.txt
/JUnit_Report.xml
